.carousel-item
    img.third-slide(src="./dist/img/not_alone.jpeg" alt="Third slide")
    .container
        .carousel-caption.text-right
            h1 余計なことは言わない
            p
                | あなたのPull Requestに対して応援してくれます。
                br
                | Issueが溜まってるとか、あなたが気にしていることは言いません。