.carousel-item
    img.second-slide(src="./dist/img/cheer.jpeg" alt="Second slide")
    .container
        .carousel-caption
            h1 褒めてくれる
            p
                | Pull Requestに対するコメントと言えば、上司の辛辣な批判ばかりではないでしょうか?
                br
                | Pull-Koはとても優しい子です。あなたの傷つくことは一切言わず励ましてくれます。
            p
