.carousel-item.active
    img.first-slide(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide")
    .container
        .carousel-caption.text-left
            h1 Example headline.
            p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
                a.btn.btn-lg.btn-primary(href="#" role="button") Sign up today