.carousel-item.active
    img.first-slide(src="./dist/img/colorful.png" alt="First slide")
    .container
        .carousel-caption.text-left
            h1 開発に彩りを
            p
                | 個人開発に彩りを与えてくれます。孤独に戦うあなたの強い味方です。
            p
