nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="#") Pull-Ko
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#about")
                    | Pull-Koとは
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#feature") 特徴
            li.nav-item
                a.nav-link(href="#howto") How to Install