hr.featurette-divider#about
.row.featurette
    .col-md-7
        h2.featurette-heading
            span.text-muted Pull-Koとは
        p.lead
            | 個人開発の際にモチベーションが出ないこと、ありませんか?
            br
            | あるいは、チーム開発のとき、Pull Requestで
            | 猛攻撃を食らうこと、
            br
            | ありませんか?
            br
            | Pull-Koは、どんなPull Requestに対してもあなたを褒めてくれます。
            br
            | とりあえずPull-Requestを出してあげれば、あなたに秒でリプライしてくれます。
    .col-md-5
        img.featurette-image.img-fluid.mx-auto(src="./dist/img/logo.png" alt="Generic placeholder image")