hr.featurette-divider#howto
.row.featurette
    .col-md-7
        h2.featurette-heading
            span.text-muted How to Install
        p.lead
            | 下のボタンを押すとインストール可能です。
            br
            | リポジトリごとに個別にインストールが可能です。
            br
            | これであなたも孤独との戦いから解放されます。
        p
            a.btn.btn-lg.btn-primary(href="https://github.com/apps/pull-ko" role="button") Install
    .col-md-5
        img.featurette-image.img-fluid.mx-auto(src="./dist/img/install.png" alt="Generic placeholder image")