hr.featurette-divider#feature
.row.featurette
    .col-md-7.order-md-2
        h2.featurette-heading
            span.text-muted 特徴
        p.lead
            | Pull Requestが投げられた直後、Pull Requestが閉じられた直後に話しかけてくれます。
            br
            |
            span あなたの傷つくようなことは一切言いません。
            | あなたの苦労を精一杯労ってくれます。
    .col-md-5.order-md-1
        img.featurette-image.img-fluid.mx-auto(src="./dist/img/feature.png" alt="Generic placeholder image")